@import "tailwindcss";

/* ===== Hide Scrollbar (All Browsers) ===== */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.input {
  @apply w-full px-4 py-2 rounded-xl bg-[#0b0f1a]
  border border-white/20 focus:outline-none focus:border-cyan-400;
}

